.titel-projekt {
  align-self: center;
  display: grid;
  grid-template-columns: auto;
  margin-top: 4rem;
}

.projekter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  padding-top: 4rem;
}

.project_card {
  max-width: 292px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}

.project_card a {
  display: block;
  width: 100%;
  /* max-height: 375px; */
  /* height: 100%; */
  aspect-ratio: 3/4;
  background-color: gray;
  overflow: hidden;
}

.project_card a img {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  object-position: top;
  transition: ease-in-out 0.2s;
}

.project_card a:hover img {
  opacity: 1;
}

.project_card .card_text {
  padding: 0.875rem;
}

.project_card .card_number {
  text-align: end;
}

.project_card * {
  font-size: 20px;
}

@media screen and (max-width: 800px);
