.tema5-container {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: auto repeat(3, 1fr);
  align-items: start;
}

.prikken {
  grid-column: 4/5;
  max-width: 138px;
  justify-self: end;
}

.tema5_img-container {
  display: grid;
  grid-template-columns: auto 1fr;
  width: fit-content;
  gap: 2rem;
}

.tema5_txt-container {
  grid-column: 3/5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: start;
}

.text5 {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text5:not(:has(+ .text5)) {
  grid-column: 2;
}

.img-fem {
  aspect-ratio: 286/314;
  overflow: hidden;
  width: fit-content;
}

.tema5-images {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.img-5 img {
  height: 100%;
}

.number {
  width: fit-content;
  height: fit-content;
}

.number h3 {
  transform: rotate(-90deg);
  transform-origin: center;
  font-size: 3rem;
  grid-column: 1/2;
}

.site-link {
  grid-column: 2/3;
  align-self: flex-start;
  justify-self: end;
}

@media screen and (max-width: 800px) {
  .prikken {
    display: none;
  }

  .tema5-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .tema5_img-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    width: unset;
  }

  .number {
    width: initial;
  }

  .number h3 {
    transform: rotate(0);
    text-align: end;
    font-size: 20px;
  }

  .tema5-images {
    width: 100%;
  }

  .tema5-images .img-fem {
    max-width: none;
  }

  .img-fem img {
    object-position: top;
  }

  .tema5-images .img-fem:last-child {
    display: none;
  }

  .tema5_txt-container {
    margin-top: 1.5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .site-link {
    justify-self: center;
    align-self: center;
  }
}
