.tema3-container {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: auto repeat(3, 1fr);
}

.tema3_img-container {
  display: grid;
  grid-template-columns: auto 1fr;
  width: fit-content;
  gap: 2rem;
}

.tema3_txt-container {
  grid-column: 3/5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.text03 {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 2;
  padding: 2rem 6rem;
  gap: 2rem; */
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.img_03 {
  aspect-ratio: 286/314;
  overflow: hidden;
  width: fit-content;
}

.tema3-images {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.img_03 img {
  height: 100%;
}

.number {
  width: fit-content;
  height: fit-content;
}

.number h3 {
  transform: rotate(-90deg);
  transform-origin: center;
  font-size: 3rem;
  grid-column: 1/2;
}

.site-link {
  grid-column: 2/3;
  align-self: flex-start;
  justify-self: end;
}

@media screen and (max-width: 800px) {
  .tema3-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .tema3_img-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    width: unset;
  }

  .number {
    width: initial;
  }

  .number h3 {
    transform: rotate(0);
    text-align: end;
    font-size: 20px;
  }

  .tema3-images {
    width: 100%;
  }

  .tema3-images .img_03 {
    max-width: none;
  }

  .tema3-images .img_03:last-child {
    display: none;
  }

  .tema3_txt-container {
    margin-top: 1.5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .site-link {
    justify-self: center;
    align-self: center;
  }
}
